@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=New+Amsterdam&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

:root {
    --primary: var(#4C4F54);
    --secundary: var(#252B2B);
    --terceira: var(#EFDFC5);
    --quarta: var(#DC2011);
    --quinta: var(#8F0B13);
    --sexta: var(#380F17);
}

body {
    background-image: url(/assets/images/itachi2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    align-items: center; 
}

.login-box {
    max-width: 400px;
    margin: 250px auto;
    line-height: 60px;
    width: 100%;
    padding: 20px;
    background-color: rgba(66, 66, 66, 0.6);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 2px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    height: 45px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
}

button[type="submit"] {
    background-color: #252B2B;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    width: 90%;
    height: 45px;
    color: white;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s, box-shadow 0.5s, color 0.5s;
}

button[type="submit"]:hover {
    background-color: #DC2011;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.7);
}

button[type="submit"]:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: radial-gradient(circle, rgba(255,255,255,0.2), rgba(255,255,255,0) 80%);
    transition: transform 0.5s, opacity 0.5s;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    opacity: 0;
}

button[type="submit"]:hover:before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .login-box {
        max-width: 300px;
    }
}

.login-links {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 15px;
}

.login-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

/*home*/

.body {
    background-image: url(/assets/images/itachi3.png);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    font-family: 'Kanit', sans-serif;
}

.navbar a {
    font-size: 1.2rem;
    color: white;
    margin-left: 9rem;
    font-weight: 500;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
    border-radius: 3px;
}

.navbar a:hover,
.navbar a.active {
    color: rgb(173, 0, 0);
    border-bottom: 3px solid rgb(173, 0, 0);
    border-radius: 3px;
    font-size: 1.5rem;
}

.container {
    display: flex;
    cursor: pointer;}

.prazer {
    margin: 170px;
    width: 400px;
    backdrop-filter: blur(10px);
    padding: 30px;
    border: 2px solid white;
    border-radius: 10px;
    height: 400px;
}

.titulo-site {
    font-size: 1.6rem;
    color: white;
}

.explicacao-site, .explicacao-cla{
    margin-top: 20px;
    color: white;
    font-size: 1.2rem;
    font-family: 'Kanit', sans-serif;
    text-align: justify;
}

.red {
    color: #8F0B13;
    font-weight: bold;
    letter-spacing: 2px;
}

.cla-uchiha  {
    margin: 170px auto;
    width: 400px;
    backdrop-filter: blur(10px);
    padding: 30px;
    border: 2px solid white;
    border-radius: 10px;
    height: 400px;
}

.cla {
    font-size: 1.6rem;
    color: white;
}

.black {
    color: #9f9f9f;
    font-weight: bold;
    letter-spacing: 2px;
}

.fotos img{
    width: 450px;
    margin-top: 170px;
    border-radius: 10px;
    margin-left: 160px;
    height: 750px;
}